{
  "openapi": "3.0.3",
  "info": {
    "title": "Bargainly Market App – API",
    "description": "Contratos REST expostos pelo `SecureAPI` client wrapper (`src/utils/secureApi.js`). Todas as chamadas são roteadas via **Netlify Functions** (Backend Proxy Pattern) – nenhuma credencial é exposta no cliente.\n\n> **Base URL (Web):** `/api` → redirecionado via `netlify.toml` para `/.netlify/functions`\n>\n> **Base URL (Mobile / Capacitor):** `https://app.bargainly.com.br/api`\n\n### Segurança\n- **CWE-522** – Zero exposição de credenciais no cliente\n- **OWASP A05:2021** – CORS centralizado via `wrapHandler` middleware\n- **Rate Limiting** – Redis (3 req/15 min para OTP, 5 tentativas/15 min para verificação)\n- **Audit Logging** – Todas as ações críticas auditadas",
    "version": "2.0.0",
    "contact": {
      "name": "Sentinel Coder",
      "url": "https://app.bargainly.com.br"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://app.bargainly.com.br/api",
      "description": "Produção"
    },
    {
      "url": "http://localhost:8888/api",
      "description": "Desenvolvimento local (netlify dev)"
    }
  ],
  "tags": [
    {
      "name": "Markets",
      "description": "Gerenciamento de mercados e supermercados"
    },
    {
      "name": "Products",
      "description": "Catálogo de produtos e busca por GTIN/código de barras"
    },
    {
      "name": "Users",
      "description": "Autenticação, criação e atualização de perfis de usuários"
    },
    {
      "name": "Authentication",
      "description": "Fluxo OTP por e-mail (Phase 1 Security)"
    },
    {
      "name": "Shopping Lists",
      "description": "CRUD de listas de compras e seus itens"
    },
    {
      "name": "Address",
      "description": "Consulta de endereço por CEP via ViaCEP (proxy seguro)"
    },
    {
      "name": "Feature Flags",
      "description": "Runtime feature flags consumidas pelo mobile app sem necessidade de rebuild ou redeploy"
    },
    {
      "name": "FamilyFinance",
      "description": "Bot de finanças familiares via WhatsApp. Gerencia membros, transações, metas e resumo mensal. Requer exec_with_user_context (RLS) para todas as operações."
    },
    {
      "name": "WhatsAppBot",
      "description": "Endpoints consumidos pelo WhatsApp bot para resolução de usuários e operações de suporte. Retornam apenas campos não-sensíveis projetados (CWE-200)."
    }
  ],
  "paths": {
    "/add-shopping-list-item": {
      "post": {
        "tags": [
          "Shopping Lists"
        ],
        "operationId": "addShoppingListItem",
        "summary": "Adicionar item à lista de compras",
        "description": "Cria um novo item em uma lista existente. Utilizado por `SecureAPI.addShoppingListItem()`.",
        "parameters": [
          {
            "name": "listId",
            "in": "query",
            "required": true,
            "description": "UUID da lista",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShoppingListItemRequest",
                "properties": {
                  "product_name": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "category": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "quantity": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "unit": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "unit_price": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "notes": {
                    "type": "string",
                    "x-auto-detected": true
                  }
                }
              },
              "example": {
                "name": "Arroz",
                "quantity": 2,
                "unit": "kg",
                "price": 5.99,
                "category": "Grãos",
                "checked": false,
                "gtin": "7891234000015"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShoppingListItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/create-category": {
      "post": {
        "tags": [
          "Categories"
        ],
        "operationId": "createCategory",
        "summary": "Create Category",
        "description": "Handler for `/create-category`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "requestBody": {
          "required": true,
          "x-auto-generated": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "name": {
                    "type": "string",
                    "x-auto-detected": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/create-market": {
      "post": {
        "tags": [
          "Markets"
        ],
        "operationId": "createMarket",
        "summary": "Create Market",
        "description": "Handler for `/create-market`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "requestBody": {
          "required": true,
          "x-auto-generated": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "name": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "place_id": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "latitude": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "longitude": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "rating": {
                    "type": "string",
                    "x-auto-detected": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/create-payment-method": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "createPaymentMethod",
        "summary": "Create Payment Method",
        "description": "Handler for `/create-payment-method`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "type"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "credit_card",
                      "debit_card",
                      "pix",
                      "cash",
                      "other"
                    ]
                  },
                  "label": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "example": {
                "user_id": "550e8400-e29b-41d4-a716-446655440000",
                "type": "pix",
                "label": "Nubank PIX"
              }
            }
          }
        }
      }
    },
    "/create-product": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "createProduct",
        "summary": "Create Product",
        "description": "Handler for `/create-product`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "requestBody": {
          "required": true,
          "x-auto-generated": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "x-auto-detected": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/create-shopping-list": {
      "post": {
        "tags": [
          "Shopping Lists"
        ],
        "operationId": "createShoppingList",
        "summary": "Create Shopping List",
        "description": "Creates a new shopping list. Items are **optional** at creation time — you can create an empty list and add items later via `POST /add-shopping-list-item`. A list can hold at most 100 items.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "title",
                  "shopping_date"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of the owner"
                  },
                  "title": {
                    "type": "string",
                    "example": "Compras da semana"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "shopping_date": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-03-01"
                  },
                  "market_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "items": {
                    "type": "array",
                    "description": "Optional initial items. Can be empty — items can be added later.",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/ShoppingListItemInput"
                    }
                  }
                }
              },
              "examples": {
                "empty_list": {
                  "summary": "Create list without items (recommended SRE pattern)",
                  "value": {
                    "user_id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "Lista de mercado",
                    "shopping_date": "2026-03-01"
                  }
                },
                "list_with_items": {
                  "summary": "Create list with initial items",
                  "value": {
                    "user_id": "550e8400-e29b-41d4-a716-446655440000",
                    "title": "Lista de mercado",
                    "shopping_date": "2026-03-01",
                    "items": [
                      {
                        "product_name": "Arroz",
                        "quantity": 2,
                        "unit": "kg",
                        "unit_price": 5.99,
                        "category": "Grãos"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delete-market": {
      "delete": {
        "tags": [
          "Markets"
        ],
        "operationId": "deleteMarket",
        "summary": "Delete Market",
        "description": "Netlify Function to delete a market (soft delete) Marks a market as deleted without removing from database No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "requestBody": {
          "required": true,
          "x-auto-generated": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "user_id": {
                    "type": "string",
                    "x-auto-detected": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/delete-product": {
      "delete": {
        "tags": [
          "Products"
        ],
        "operationId": "deleteProduct",
        "summary": "Delete Product",
        "description": "Delete Product API Netlify Function to soft delete a product Security: Soft delete (sets deleted_at), maintains data integrity, prevents SQL injection No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_id",
                  "user_id"
                ],
                "properties": {
                  "product_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "user_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "product_id": "550e8400-e29b-41d4-a716-446655440000",
                "user_id": "661e8400-e29b-41d4-a716-446655440001"
              }
            }
          }
        }
      }
    },
    "/delete-shopping-list": {
      "delete": {
        "tags": [
          "Shopping Lists"
        ],
        "operationId": "deleteShoppingList",
        "summary": "Delete Shopping List",
        "description": "Delete Shopping List Netlify Function to soft delete a shopping list No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "user_id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "user_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "id": "550e8400-e29b-41d4-a716-446655440000",
                "user_id": "661e8400-e29b-41d4-a716-446655440001"
              }
            }
          }
        }
      }
    },
    "/family-finance-budget": {
      "get": {
        "tags": [
          "Other"
        ],
        "operationId": "familyFinanceBudget",
        "summary": "Family Finance Budget",
        "description": "Family Finance Budget – Netlify Function CRUD de orçamentos mensais por categoria dentro de uma família. Hierarquia: User → Member → Family → Budget → Transaction Cada família define um teto de gasto (limit_amount) por categoria. O montante gasto real é calculado consultando transactions com o mesmo family_id + category — não é armazenado nesta tabela (sem estado derivado). ────────────────────────────────────────────────────────────────────── GET /.netlify/functions/family-finance-budget ────────────────────────────────────────────────────────────────────── Required: user_id=<uuid>  family_id=<uuid> Optional: budget_id=<uuid>  ← retorna apenas o orçamento da categoria → Returns array de budgets ordenado por category ASC. → Com budget_id retorna o orçamento específico ou 404. ────────────────────────────────────────────────────────────────────── POST /.netlify/functions/family-finance-budget ────────────────────────────────────────────────────────────────────── body: { user_id:               <uuid>    — required family_id:             <uuid>    — required category:              <string>  — required; um de VALID_CATEGORIES limit_amount:          <number>  — required; > 0 created_by_member_id?: <uuid>    — optional; membro que definiu o orçamento } → 201 com o orçamento criado. → 422 se (family_id, category) já existir. ────────────────────────────────────────────────────────────────────── PUT /.netlify/functions/family-finance-budget?budget_id=<uuid> ────────────────────────────────────────────────────────────────────── Required query: budget_id=<uuid> body: { user_id:               <uuid>    — required family_id:             <uuid>    — required limit_amount?:         <number>  — novo limite (> 0) created_by_member_id?: <uuid>    — membro que alterou } Campos imutáveis (ignorados): id, family_id, category, created_at ────────────────────────────────────────────────────────────────────── DELETE /.netlify/functions/family-finance-budget ────────────────────────────────────────────────────────────────────── Required: user_id=<uuid>  family_id=<uuid>  budget_id=<uuid> ────────────────────────────────────────────────────────────────────── CATEGORIAS VÁLIDAS ────────────────────────────────────────────────────────────────────── food, home, transport, health, leisure, education, income, other ────────────────────────────────────────────────────────────────────── SECURITY IMPLEMENTATION ────────────────────────────────────────────────────────────────────── - wrapHandler: CORS allowlist, rate-limiting, JWT validation (CWE-346, CWE-287) - UUID validation on every input (CWE-89) - exec_with_user_context RPC: sets app.current_user_id for RLS context (CWE-284) - Explicit family_id filter on every DB query (service_role bypasses RLS) - Imutable fields stripped before update (CWE-915) - Error sanitisation (CWE-209) MITIGATED VULNERABILITIES: - CWE-89:  SQL Injection      (UUID + input validation) - CWE-284: Broken Access      (exec_with_user_context + family_id filter) - CWE-346: Origin Validation  (wrapHandler CORS) - CWE-400: Resource Exhaustion (rate limiting) - CWE-209: Information Exposure (error sanitisation) - CWE-915: Mass Assignment    (immutable field stripping) @author Sentinel Coder @version 1.0.0 — família → orçamento por categoria @migration database/202603110002/add-budgets-table.sql No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/family-finance-delete-last-transaction": {
      "delete": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "deleteLastFamilyFinanceTransaction",
        "summary": "Desfazer última transação WhatsApp",
        "description": "Remove a transação WhatsApp mais recente do membro (bot 'desfazer'). Usa fn_delete_last_whatsapp_transaction com validação de ownership.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transação removida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhuma transação WhatsApp encontrada"
          },
          "422": {
            "description": "user_id ou member_id inválido"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/family-finance-goals": {
      "get": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "getFamilyFinanceGoals",
        "summary": "Listar metas financeiras",
        "description": "Retorna metas compartilhadas da família com progress_percent e remaining calculados.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de metas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FamilyGoal"
                  }
                }
              }
            }
          },
          "422": {
            "description": "user_id inválido"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      },
      "post": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "createFamilyFinanceGoal",
        "summary": "Criar nova meta financeira",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "label",
                  "target",
                  "deadline"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "target": {
                    "type": "number",
                    "minimum": 0.01
                  },
                  "saved": {
                    "type": "number",
                    "minimum": 0,
                    "default": 0
                  },
                  "deadline": {
                    "type": "string",
                    "example": "2026-12"
                  },
                  "color": {
                    "type": "string",
                    "example": "#10B981"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Meta criada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyGoal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "description": "Dados inválidos"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "sentinel-coder",
        "x-last-synced": "2026-03-09"
      },
      "put": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "updateFamilyFinanceGoal",
        "summary": "Atualizar meta existente",
        "description": "Atualiza campos permitidos (label, target, saved, deadline, color). Campos imutáveis: id, created_at, created_by_member_id.",
        "parameters": [
          {
            "name": "goal_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "label": {
                    "type": "string"
                  },
                  "target": {
                    "type": "number",
                    "minimum": 0.01
                  },
                  "saved": {
                    "type": "number",
                    "minimum": 0
                  },
                  "deadline": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meta atualizada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyGoal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "description": "goal_id ou dados inválidos"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "sentinel-coder",
        "x-last-synced": "2026-03-09"
      },
      "delete": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "deleteFamilyFinanceGoal",
        "summary": "Remover meta",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "goal_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meta removida",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "goal_id inválido"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "sentinel-coder",
        "x-last-synced": "2026-03-09"
      }
    },
    "/family-finance-group": {
      "get": {
        "tags": [
          "Other"
        ],
        "operationId": "familyFinanceGroup",
        "summary": "Family Finance Group",
        "description": "Family Finance Group – Netlify Function Manage family groups for the FamilyFinanceBot. Fixes the architectural problem: User → Member → Family → Transaction (previously members could not see each other's transactions). ────────────────────────────────────────────────────────────────────── ENDPOINTS ────────────────────────────────────────────────────────────────────── GET  /.netlify/functions/family-finance-group ?user_id=<uuid> → List all families the user belongs to (with role) GET  /.netlify/functions/family-finance-group ?user_id=<uuid>&family_id=<uuid> → Get a single family with its full member list POST /.netlify/functions/family-finance-group body: { user_id, name } → Create a new family group (caller becomes owner + first member) POST /.netlify/functions/family-finance-group body: { user_id, invite_code } → Join an existing family via invite code PUT  /.netlify/functions/family-finance-group?family_id=<uuid> body: { user_id, name } → Rename a family (owner only) DELETE /.netlify/functions/family-finance-group ?user_id=<uuid>&family_id=<uuid> → Delete a family (owner only) — removes all members via CASCADE DELETE /.netlify/functions/family-finance-group ?user_id=<uuid>&family_id=<uuid>&action=leave → Current user leaves the family ────────────────────────────────────────────────────────────────────── SECURITY IMPLEMENTATION ────────────────────────────────────────────────────────────────────── - wrapHandler: CORS allowlist, rate-limiting, JWT validation (CWE-346, CWE-287) - UUID validation: prevents SQL injection (CWE-89) - SECURITY DEFINER RPCs: ownership/role enforced at DB level (CWE-284) - Error sanitisation: stack traces never exposed in production (CWE-209) - Owner-only mutations: create, rename, delete, add/remove members MITIGATED VULNERABILITIES: - CWE-89:  SQL Injection (UUID + input validation) - CWE-284: Broken Access Control (SECURITY DEFINER RPCs + RLS policies) - CWE-346: Origin Validation (wrapHandler CORS) - CWE-400: Resource Exhaustion (rate limiting in wrapHandler) - CWE-209: Information Exposure (error sanitisation) @author Sentinel Coder @version 1.0.0 @migration database/202603100001/add-family-groups.sql No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "family_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/family-finance-group-member": {
      "get": {
        "tags": [
          "Other"
        ],
        "operationId": "familyFinanceGroupMember",
        "summary": "Family Finance Group Member",
        "description": "Family Finance Group Member – Netlify Function Manage membership within family groups. Part of the fix for: User → Member → Family → Transaction. ────────────────────────────────────────────────────────────────────── ENDPOINTS ────────────────────────────────────────────────────────────────────── GET  /.netlify/functions/family-finance-group-member ?user_id=<uuid>&family_id=<uuid> → List all members of a family (requires caller to be a member) POST /.netlify/functions/family-finance-group-member body: { user_id, family_id, phone } → Add a member to the family by WhatsApp phone (owner only) PUT  /.netlify/functions/family-finance-group-member body: { user_id, family_id, member_id } → Promote a member to owner (owner only) DELETE /.netlify/functions/family-finance-group-member ?user_id=<uuid>&family_id=<uuid>&member_id=<uuid> → Remove a specific member (owner only; use family-finance-group?action=leave to self-leave) ────────────────────────────────────────────────────────────────────── SECURITY IMPLEMENTATION ────────────────────────────────────────────────────────────────────── - wrapHandler: CORS allowlist, rate-limiting, JWT validation (CWE-346, CWE-287) - UUID validation: prevents SQL injection (CWE-89) - SECURITY DEFINER RPCs: ownership/role enforced at DB level (CWE-284) - No stack trace leaks in production (CWE-209) ROLES ENFORCED: GET:    any member of the family POST:   owner only (add member by phone) PUT:    owner only (promote to owner) DELETE: owner only (remove member); self-leave is via family-finance-group MITIGATED VULNERABILITIES: - CWE-89:  SQL Injection - CWE-284: Broken Access Control - CWE-346: Origin Validation - CWE-400: Resource Exhaustion - CWE-209: Information Exposure @author Sentinel Coder @version 1.0.0 @migration database/202603100001/add-family-groups.sql No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "family_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/family-finance-member": {
      "get": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "getFamilyFinanceMember",
        "summary": "Buscar perfil do membro",
        "description": "Retorna o perfil do membro vinculado ao usuário autenticado.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "UUID do usuário autenticado",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil do membro",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyMember"
                }
              }
            }
          },
          "404": {
            "description": "Membro não encontrado"
          },
          "422": {
            "description": "user_id ausente ou inválido"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      },
      "post": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "upsertFamilyFinanceMember",
        "summary": "Criar ou atualizar perfil do membro",
        "description": "Cria ou atualiza o perfil do membro (upsert por user_id).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "name",
                  "phone"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "phone": {
                    "type": "string",
                    "example": "5511999998888"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perfil criado/atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FamilyMember"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "description": "Dados inválidos"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "sentinel-coder",
        "x-last-synced": "2026-03-09"
      }
    },
    "/family-finance-member-transactions": {
      "get": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "familyFinanceMemberTransactions",
        "summary": "Family Finance Member Transactions",
        "description": "Family Finance Member Transactions – Netlify Function Dedicated endpoint for the mobile app to query transactions scoped to a member or to a family+member combination. GET  /.netlify/functions/family-finance-member-transactions Required: user_id, member_id Optional: family_id, category, source, month (YYYY-MM), limit, offset — Without family_id: Returns all transactions for `member_id` owned by `user_id`. Ownership is enforced via inner join (members.user_id = user_id). — With family_id: Returns transactions for `member_id` within `family_id`. Caller (user_id) must be a member of the family. Target member_id must also belong to the same family. Prevents lateral access across families (CWE-284). SECURITY IMPLEMENTATION: - wrapHandler: CORS allowlist, rate-limiting, JWT validation (CWE-346, CWE-287) - UUID validation in the service layer prevents SQL injection (CWE-89) - category/source whitelist prevents open enumeration (CWE-20) - Family membership verified at repository level before returning data (CWE-284) - Error sanitisation: stack traces never exposed in production (CWE-209) @author Sentinel Coder @version 1.0.0 No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "family_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/family-finance-summary": {
      "get": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "getFamilyFinanceSummary",
        "summary": "Resumo financeiro mensal",
        "description": "Retorna totais de receita/despesas/saldo e breakdown por categoria. Usa view v_monthly_summary / fn_monthly_summary.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Mês no formato YYYY-MM (padrão: mês atual)",
            "schema": {
              "type": "string",
              "example": "2026-03"
            }
          },
          {
            "name": "family_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Resumo financeiro do mês",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "string"
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "total_income": {
                          "type": "number"
                        },
                        "total_expenses": {
                          "type": "number"
                        },
                        "balance": {
                          "type": "number"
                        }
                      }
                    },
                    "by_category": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string"
                          },
                          "category_total": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "user_id ou month inválido"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/family-finance-transactions": {
      "get": {
        "tags": [
          "FamilyFinance"
        ],
        "operationId": "getFamilyFinanceTransactions",
        "summary": "Listar transações financeiras",
        "description": "Retorna transações do membro com filtros opcionais.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "whatsapp",
                "app"
              ]
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Formato YYYY-MM",
            "schema": {
              "type": "string",
              "example": "2026-03"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "transaction_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "family_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "member_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de transações",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FamilyTransaction"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Parâmetros inválidos"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/find-market": {
      "post": {
        "tags": [
          "Markets"
        ],
        "operationId": "findMarket",
        "summary": "Find Market",
        "description": "Find Market - Netlify Function Find market by place_id or name Architecture: MVC Pattern API → Controller → Service → Repository → Database Security: - ✅ Backend Proxy Pattern (credentials server-side only) - ✅ Input validation in controller layer - ✅ SQL injection prevention via parameterized queries @version 2.0.0 (Refactored to follow MVC) No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "requestBody": {
          "required": true,
          "x-auto-generated": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place_id": {
                    "type": "string",
                    "x-auto-detected": true
                  },
                  "name": {
                    "type": "string",
                    "x-auto-detected": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-address-by-cep": {
      "get": {
        "tags": [
          "Address"
        ],
        "operationId": "getAddressByCep",
        "summary": "Consultar endereço por CEP",
        "description": "Retorna o endereço completo (logradouro, bairro, cidade, UF, estado, IBGE, DDD) a partir de um CEP brasileiro.\n\nProxy seguro para a API pública **ViaCEP** (`https://viacep.com.br`).\nAceita CEP com ou sem máscara (ex: `01310-100` ou `01310100`).\n\n### Segurança\n- **CWE-20** – Validação de formato (8 dígitos) antes da chamada externa\n- **CWE-209** – Mensagens de erro sanitizadas, sem stack trace\n- **OWASP A05:2021** – CORS centralizado via `wrapHandler`\n\n### Arquitetura\n`GET /api/get-address-by-cep` → `wrapHandler` → `addressController` → `viaCepService` → ViaCEP API",
        "parameters": [
          {
            "name": "cep",
            "in": "query",
            "required": true,
            "description": "CEP brasileiro com ou sem máscara. Ex: `01310100` ou `01310-100`.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}-?\\d{3}$",
              "example": "01310100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Endereço encontrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressByCepResponse"
                },
                "example": {
                  "cep": "01310-100",
                  "logradouro": "Avenida Paulista",
                  "complemento": "de 1 a 610 - lado par",
                  "bairro": "Bela Vista",
                  "cidade": "São Paulo",
                  "uf": "SP",
                  "estado": "São Paulo",
                  "ibge": "3550308",
                  "ddd": "11"
                }
              }
            }
          },
          "400": {
            "description": "CEP ausente ou com formato inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing": {
                    "summary": "CEP não informado",
                    "value": {
                      "error": "Parâmetro \"cep\" é obrigatório."
                    }
                  },
                  "invalid": {
                    "summary": "Formato inválido",
                    "value": {
                      "error": "CEP inválido. Informe exatamente 8 dígitos numéricos."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "CEP não encontrado na base ViaCEP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "CEP não encontrado."
                }
              }
            }
          },
          "405": {
            "description": "Método HTTP não permitido (apenas GET)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Method Not Allowed"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "description": "Erro ao comunicar com a API ViaCEP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Erro ao consultar serviço de CEP."
                }
              }
            }
          },
          "503": {
            "description": "Serviço ViaCEP indisponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Serviço de CEP indisponível. Tente novamente mais tarde."
                }
              }
            }
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-all-markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "getMarkets",
        "summary": "Listar todos os mercados ativos",
        "description": "Retorna todos os mercados cadastrados e ativos. Utilizado por `SecureAPI.getMarkets()`.",
        "responses": {
          "200": {
            "description": "Lista de mercados retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketsListResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "Supermercado Extra",
                      "address": "Rua das Flores, 100",
                      "latitude": -23.5505,
                      "longitude": -46.6333,
                      "place_id": "ChIJN1t_tDeuEmsRUsoyG83frY4",
                      "rating": 4.2
                    }
                  ],
                  "count": 1
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-categories-by-user": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "getCategoriesByUser",
        "summary": "Get Categories By User",
        "description": "Get Categories By User API Endpoint Uses MVC pattern: Controller → Service → Repository No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-category-keywords": {
      "get": {
        "tags": [
          "Categories"
        ],
        "operationId": "getCategoryKeywords",
        "summary": "Get Category Keywords",
        "description": "Get Category Keywords by User Netlify Function to retrieve category keywords for Hybrid Matcher @security UUID validation, RLS enforcement via exec_with_user_context @performance Single optimized RPC query, Edge + Client caching No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-company-by-cnpj": {
      "get": {
        "tags": [
          "Integration"
        ],
        "operationId": "getCompanyByCnpj",
        "summary": "Get Company By Cnpj",
        "description": "Get Company by CNPJ API Endpoint Architecture: MVC Pattern API → Controller → Service → Repository → Database Fetches company data by CNPJ with caching strategy GET /.netlify/functions/get-company-by-cnpj?cnpj=<cnpj> External API: BrasilAPI (https://brasilapi.com.br) Cache: company_cache table (24h expiration) @version 2.0.0 (Refactored to follow MVC) No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-dashboard-metrics": {
      "get": {
        "tags": [
          "Financial"
        ],
        "operationId": "getDashboardMetrics",
        "summary": "Get Dashboard Metrics",
        "description": "Get Dashboard Metrics API Handler Endpoint: /api/get-dashboard-metrics Method: GET Query Parameters: - user_id (required): UUID of the user Returns dashboard metrics including: - Shopping lists status (completed/total) - Cart total value - Collaborators - Integration status Security: Backend Proxy Pattern (Supabase credentials server-side only) Architecture: MVC Pattern (Controller → Service → Repository) No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-feature-flags": {
      "get": {
        "tags": [
          "Feature Flags"
        ],
        "operationId": "getFeatureFlags",
        "summary": "Obter feature flags em runtime",
        "description": "Endpoint público consumido pelo mobile app para obter o estado das feature flags em runtime, sem necessidade de rebuild.\n\nSuporte a dois modos:\n- **Sem parâmetro** → retorna todas as flags (`{ flags: { [key]: boolean }, cachedAt: ISO8601 }`)\n- **Com `?key=<k>`** → retorna o valor de uma flag específica (`{ key, enabled }`).\n\nAs flags são armazenadas no Supabase (`feature_flags`) e cacheadas em memória por **60 segundos**. Toggling via Supabase Table Editor, sem redeploy.\n\n### Segurança\n- **CWE-20** – Sanitização do query param `key` (regex `^[a-z0-9_-]+$`)\n- **CWE-209** – Erros retornam HTTP 422 com mensagem genérica (sem stack trace)\n- **OWASP A05:2021** – CORS centralizado via `wrapHandler`\n\n### Arquitetura\n`GET /api/get-feature-flags` → `wrapHandler` → `featureFlagController` → `featureFlagService` → `featureFlagRepository` → Supabase",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": false,
            "description": "Chave da flag (ex: `reviewer_bypass`). Apenas letras minúsculas, números, underscore e hífen. Omita para retornar todas as flags.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9_-]+$",
              "example": "reviewer_bypass"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flags retornadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Todas as flags",
                      "type": "object",
                      "properties": {
                        "flags": {
                          "type": "object",
                          "description": "Mapa de flags: chave → boolean",
                          "additionalProperties": {
                            "type": "boolean"
                          },
                          "example": {
                            "reviewer_bypass": false,
                            "new_ui": true
                          }
                        },
                        "cachedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 timestamp da última atualização do cache",
                          "example": "2026-03-04T12:00:00.000Z"
                        }
                      },
                      "required": [
                        "flags",
                        "cachedAt"
                      ]
                    },
                    {
                      "title": "Flag específica",
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Chave normalizada da flag",
                          "example": "reviewer_bypass"
                        },
                        "enabled": {
                          "type": "boolean",
                          "description": "Estado atual da flag",
                          "example": false
                        }
                      },
                      "required": [
                        "key",
                        "enabled"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "405": {
            "description": "Método não permitido — apenas GET é aceito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Parâmetro `key` inválido (formato não permitido ou ausente quando esperado). Mensagem genérica por OPSEC (CWE-209).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Serviço indisponível, tente mais tarde."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-financial-by-categories": {
      "get": {
        "tags": [
          "Financial"
        ],
        "operationId": "getFinancialByCategories",
        "summary": "Get Financial By Categories",
        "description": "Get Financial Data by Categories API Endpoint Retrieves financial breakdown by product categories with optional filters GET /.netlify/functions/get-financial-by-categories?user_id=<uuid>&month=<YYYY-MM>&category=<string>&market_id=<uuid> Query Parameters: - user_id (required): User UUID - month (optional): Filter by month in YYYY-MM format - category (optional): Filter by specific category name - market_id (optional): Filter by market UUID - limit (optional): Maximum results (default: 100, max: 1000) - offset (optional): Pagination offset (default: 0) SECURITY IMPLEMENTATION: - UUID Validation: All UUID inputs validated via regex (CWE-89) - Month Format Validation: YYYY-MM regex prevents injection - Category Sanitization: Length limit + encoding (XSS prevention) - Explicit User Filtering: All queries filtered by validated user_id (CWE-284) - Limit Validation: Prevents resource exhaustion (CWE-400) - Service Role Key: RLS bypassed securely with explicit filtering - Error Sanitization: Production-safe error messages (CWE-209) MITIGATED VULNERABILITIES: - CWE-89: SQL Injection (UUID + month regex validation) - CWE-284: Improper Access Control (Explicit user_id filtering) - CWE-79: XSS (Category sanitization, though backend context) - CWE-400: Resource Exhaustion (Limit caps) - CWE-209: Information Exposure (Error sanitization) @author Sentinel Coder @version 2.0.0 (MVC Refactored) @returns {Object} Array of categories with aggregated financial data No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID do usuário"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$",
              "example": "2026-01"
            },
            "description": "Filtro por mês (YYYY-MM)"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtro por nome de categoria"
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtro por mercado"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Máximo de resultados"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset de paginação"
          }
        ]
      }
    },
    "/get-financial-by-lists": {
      "get": {
        "tags": [
          "Financial"
        ],
        "operationId": "getFinancialByLists",
        "summary": "Get Financial By Lists",
        "description": "Get Financial Data by Shopping Lists API Endpoint Retrieves financial breakdown by shopping lists with optional filters GET /.netlify/functions/get-financial-by-lists?user_id=<uuid>&month=<YYYY-MM>&market_id=<uuid> Query Parameters: - user_id (required): User UUID - month (optional): Filter by month in YYYY-MM format - market_id (optional): Filter by market UUID - limit (optional): Maximum results (default: 100, max: 1000) - offset (optional): Pagination offset (default: 0) SECURITY IMPLEMENTATION: - UUID Validation: All UUID inputs validated via regex (CWE-89) - Month Format Validation: YYYY-MM regex prevents injection - Explicit User Filtering: All queries filtered by validated user_id (CWE-284) - Limit Validation: Prevents resource exhaustion - Service Role Key: RLS bypassed securely with explicit filtering - Error Sanitization: Production-safe error messages (CWE-209) MITIGATED VULNERABILITIES: - CWE-89: SQL Injection (UUID regex + month format validation) - CWE-284: Improper Access Control (Explicit user_id filtering) - CWE-400: Resource Exhaustion (Limit validation and caps) - CWE-209: Information Exposure (Error sanitization) @author Sentinel Coder @version 2.0.0 (MVC Refactored) @returns {Object} Array of shopping lists with financial data No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID do usuário"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$",
              "example": "2026-01"
            },
            "description": "Filtro por mês (YYYY-MM)"
          },
          {
            "name": "market_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filtro por mercado"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ]
      }
    },
    "/get-financial-items-by-period": {
      "get": {
        "tags": [
          "Financial"
        ],
        "operationId": "getFinancialItemsByPeriod",
        "summary": "Itens comprados por período (Mobile)",
        "description": "Retorna todos os itens comprados (listas ativas e concluídas) dentro de um período, com dados pré-agregados por categoria, mercado e dia. Projetado **exclusivamente** para o app mobile Bargainly.\n\nAceita período predefinido **ou** faixa de datas explícita:\n- **Predefinido:** `period=7D` | `15D` | `30D` | `60D`\n- **Explícito:** `start_date` + `end_date` em `YYYY-MM-DD` ou `DD/MM/YYYY`\n\n### Formato de Resposta\n```json\n{\n  \"meta\": { \"user_id\": \"...\", \"period\": { \"start\": \"2026-02-04\", \"end\": \"2026-03-04\", \"label\": \"30D\" }, \"generated_at\": \"...\" },\n  \"summary\": { \"total_items\": 42, \"total_lists\": 5, \"total_markets\": 3, \"total_amount\": 487.50, \"average_amount_per_list\": 97.50 },\n  \"by_category\": [{ \"category\": \"Hortifruti\", \"items_count\": 8, \"total_amount\": 120.00, \"percentage\": 24.6, \"items\": [...] }],\n  \"by_market\": [{ \"market_name\": \"Angeloni\", \"lists_count\": 3, \"total_amount\": 310.00, \"by_category\": [...] }],\n  \"daily\": [{ \"date\": \"2026-03-01\", \"total\": 97.50, \"lists_count\": 1 }]\n}\n```\n\n### Segurança\n- **CWE-89** – `user_id` validado via UUID regex; datas validadas por regex antes de chegar ao SQL\n- **CWE-284** – RPC `get_items_by_period` com `SECURITY DEFINER` e filtro `user_id` explícito em PostgreSQL\n- **CWE-346** – CORS centralizado via `wrapHandler` (origin allowlist + rate limiting)\n- **CWE-209** – Stack traces nunca expostos em produção; mensagem genérica em 422/500\n\n### Arquitetura\n`GET /api/get-financial-items-by-period` → `wrapHandler` → `financialController.getItemsByPeriod` → `financialService.getItemsByPeriod` → `financialRepository.getItemsByPeriod` → Supabase RPC `get_items_by_period`\n\n@author Sentinel Coder\n@version 1.0.0\n@migration database/202603050001/create_get_items_by_period_function.sql",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID do usuário"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7D",
                "15D",
                "30D",
                "60D"
              ]
            },
            "description": "Período predefinido. Use este **ou** `start_date` + `end_date`.",
            "example": "30D"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Data início em `YYYY-MM-DD` ou `DD/MM/YYYY`. Obrigatório se `period` não for informado.",
            "example": "2026-01-01"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Data fim em `YYYY-MM-DD` ou `DD/MM/YYYY`. Obrigatório se `period` não for informado.",
            "example": "2026-01-31"
          }
        ],
        "responses": {
          "200": {
            "description": "Dados financeiros aggregados por período, categoria e mercado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "period": {
                          "type": "object",
                          "properties": {
                            "start": {
                              "type": "string",
                              "format": "date",
                              "example": "2026-02-04"
                            },
                            "end": {
                              "type": "string",
                              "format": "date",
                              "example": "2026-03-04"
                            },
                            "label": {
                              "type": "string",
                              "example": "30D"
                            }
                          }
                        },
                        "generated_at": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "example": 42
                        },
                        "total_lists": {
                          "type": "integer",
                          "example": 5
                        },
                        "total_markets": {
                          "type": "integer",
                          "example": 3
                        },
                        "total_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 487.5
                        },
                        "average_amount_per_list": {
                          "type": "number",
                          "format": "float",
                          "example": 97.5
                        }
                      }
                    },
                    "by_category": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "example": "Hortifruti"
                          },
                          "items_count": {
                            "type": "integer",
                            "example": 8
                          },
                          "total_amount": {
                            "type": "number",
                            "format": "float",
                            "example": 120
                          },
                          "percentage": {
                            "type": "number",
                            "format": "float",
                            "example": 24.6
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Banana"
                                },
                                "unit": {
                                  "type": "string",
                                  "example": "kg"
                                },
                                "unit_price": {
                                  "type": "number",
                                  "format": "float",
                                  "example": 7.5
                                },
                                "total_price": {
                                  "type": "number",
                                  "format": "float",
                                  "example": 22.5
                                },
                                "total_quantity": {
                                  "type": "number",
                                  "format": "float",
                                  "example": 3
                                },
                                "purchase_count": {
                                  "type": "integer",
                                  "example": 2
                                },
                                "last_purchased": {
                                  "type": "string",
                                  "format": "date",
                                  "example": "2026-03-01"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "by_market": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "market_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "market_name": {
                            "type": "string",
                            "example": "Angeloni"
                          },
                          "market_address": {
                            "type": "string",
                            "example": "Av. República Argentina, 900"
                          },
                          "lists_count": {
                            "type": "integer",
                            "example": 3
                          },
                          "items_count": {
                            "type": "integer",
                            "example": 28
                          },
                          "total_amount": {
                            "type": "number",
                            "format": "float",
                            "example": 310
                          },
                          "by_category": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "example": "Limpeza"
                                },
                                "items_count": {
                                  "type": "integer",
                                  "example": 5
                                },
                                "total_amount": {
                                  "type": "number",
                                  "format": "float",
                                  "example": 85
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "daily": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-03-01"
                          },
                          "total": {
                            "type": "number",
                            "format": "float",
                            "example": 97.5
                          },
                          "lists_count": {
                            "type": "integer",
                            "example": 1
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "422": {
            "description": "Parâmetros inválidos (user_id ausente/inválido, período inválido, datas mal formatadas ou end_date < start_date)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Provide either a preset period (7D, 15D, 30D, 60D) or both start_date and end_date"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-financial-summary": {
      "get": {
        "tags": [
          "Financial"
        ],
        "operationId": "getFinancialSummary",
        "summary": "Get Financial Summary",
        "description": "Get Financial Summary API Endpoint Retrieves comprehensive financial statistics for a user GET /.netlify/functions/get-financial-summary?user_id=<uuid> SECURITY IMPLEMENTATION: - UUID Validation: Strict regex prevents SQL injection (CWE-89) - Service Role Key: Bypasses RLS securely with explicit user_id filtering (CWE-284) - Error Sanitization: No stack traces in production (CWE-209) - CORS Configured: Allows authorized cross-origin requests - Read-Only: GET method only, no data mutation (CWE-352) MITIGATED VULNERABILITIES: - CWE-89: SQL Injection (UUID regex + RPC function with parameterized query) - CWE-284: Improper Access Control (RLS enforced via user_id in RPC) - CWE-209: Information Exposure (Sanitized error messages) - CWE-352: CSRF (Stateless GET, no state mutation) @author Sentinel Coder @version 2.0.0 (MVC Refactored) @returns {Object} Financial summary with totals, averages, favorites No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "UUID do usuário"
          }
        ]
      }
    },
    "/get-markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "operationId": "getUserMarkets",
        "summary": "Listar mercados do usuário",
        "description": "Retorna os mercados associados a um usuário específico. Diferente de `/get-all-markets` (que lista todos), este endpoint filtra por `user_id`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "UUID do usuário",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de mercados do usuário",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Market"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-payment-methods": {
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "getPaymentMethods",
        "summary": "Get Payment Methods",
        "description": "Handler for `/get-payment-methods`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-product-by-description-or-gtin": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "getProductByDescriptionOrGtin",
        "summary": "Get Product By Description Or Gtin",
        "description": "Valida e sanitiza query string para prevenir injection attacks @param {string} query - Query string a ser validada @returns {string|null} - Query sanitizada ou null se inválida No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-product-by-gtin": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "getProductByGtin",
        "summary": "Buscar produto por GTIN / código de barras",
        "description": "Consulta o catálogo **Cosmos API** via proxy seguro. Utilizado por `SecureAPI.getProductByGtin()`.\n\nValidação de entrada: GTIN deve ter entre 8 e 14 dígitos numéricos.",
        "parameters": [
          {
            "name": "gtin",
            "in": "query",
            "required": true,
            "description": "GTIN / EAN (8–14 dígitos)",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 14,
              "pattern": "^\\d{8,14}$"
            },
            "example": "7891234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Produto encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                },
                "example": {
                  "gtin": "7891234567890",
                  "description": "Leite Integral Longa Vida 1L",
                  "avg_price": 4.99,
                  "brand": "Itambé",
                  "category": "Laticínios",
                  "image_url": "https://cdn.cosmos.bluesoft.com.br/products/7891234567890.jpg"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Produto não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "Produto não encontrado na base Cosmos"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-product-categories": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "getProductCategories",
        "summary": "Get Product Categories",
        "description": "Handler for `/get-product-categories`. No `SecureAPI` wrapper found — endpoint may need wrapping.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-auto-detected": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "getProducts",
        "summary": "Buscar produtos por descrição",
        "description": "Pesquisa produtos cadastrados por texto livre. Utilizado por `SecureAPI.getProducts()`.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "UUID do usuário",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Texto de busca",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "leite integral"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Máximo de resultados (padrão: 5)",
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Produtos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-source": "auto-synced",
        "x-last-synced": "2026-03-12"
      }
    },
    "/get-products-by-market": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "getProductsByMarket",
        "summary": "Buscar produtos por mercado e usuário",
        "description": "Retorna todos os produtos cadastrados por um usuário em um mercado específico. Endpoint mobile-first: requer `user_id` e `market_id`. Suporta filtros opcionais de texto, categoria, paginação e ordenação.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "UUID do usuário proprietário dos produtos",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "description": "UUID do mercado para filtrar os produtos",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "650e8400-e29b-41d4-a716-446655440099"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Texto livre para busca por nome, descrição ou marca",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "arroz integral"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filtrar por categoria do produto",
            "schema": {
              "type": "string"
            },
            "example": "Grãos"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "description": "Campo para ordenação dos resultados",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name",
                "price",
                "updated_at"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "orderDirection",
            "in": "query",
[...]
